<div *ngIf="clients.length > 0" class="row">
    <div *ngFor="let client of clients" class="col-md-4 mb-4">
        <div class="card">
            <img [src]="client.photo" class="card-img-top" alt="Client Photo">
            <div class="card-body">
                <h5 class="card-title">{{ client.name }}</h5>
                <p class="card-text">Weight: {{ client.weight }}</p>
                <p class="card-text">Date of Birth: {{ client.dateOfBirth }}</p>

                <button class="btn btn-danger delete-btn " data-toggle="tooltip" data-placement="bottom" title="Delete"
                    (click)="deleteClient(client.id)">
                    <i class="fas fa-trash fa-sm"></i> <!-- Adjust icon size here -->
                </button>

                <button class="btn btn-primary edit-btn ml-2" data-toggle="tooltip" data-placement="bottom" title="Edit"
                    (click)="editClient(client.id)">
                    <i class="fas fa-edit fa-sm"></i> <!-- Adjust icon size here -->
                </button>

            </div>
        </div>
    </div>
</div>
<div *ngIf="clients.length === 0" class="text-center">No clients available</div>